.form {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 215px;
    text-align: center;
    top: 20%;
    border: solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding:  15px 30px;
}
.buttonAuthorize {
    display: block;
    margin-top: 45px;
}
.inputPassword {
    display: block;
    margin-top: 10px;
}
.inputName {
    display: block;
    margin-top: 10px;
}
.error {
    font-family: Roboto;
    display: inline-block;
    color: red;
    margin-top: 15px;
    position: absolute;
    left:50%; 
    margin-left:-70px;
}